OPENAI_API_KEY=

POSTGRES_USER=enterprise_ai
POSTGRES_PASSWORD=enterprise_ai
POSTGRES_DB=enterprise_ai
POSTGRES_PORT=5433
DATABASE_URL=postgresql://enterprise_ai:enterprise_ai@localhost:5433/enterprise_ai
ATLASSIAN_EMAIL=<the email you signed up with>
ATLASSIAN_API_TOKEN=<the token from step above>
ATLASSIAN_SITE_URL=<your site, e.g. https://abc.atlassian.net>
BITBUCKET_USERNAME=<your bitbucket username>
BITBUCKET_APP_PASSWORD=<the app password>
BITBUCKET_WORKSPACE=alderbrook-systems
SYNTHETIC_EMPLOYEE_BASE_EMAIL=<the gmail address the +alias employee accounts were created from>
ATLASSIAN_MCP_TOKEN=<scoped API token with Teamwork Graph read:jira-platform + read:confluence scopes>